.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 20px;
}

.board {
  background-color: black;
  position: relative;
  display: grid;
  grid-template-columns: repeat(15, 50px);
  grid-template-rows: repeat(15, 50px);
  border: 1px solid black;
  box-shadow: 4px 3px 3px #888888;
}

.container {
  position: relative;
}

